{{include('pages/inc/header.html.twig')}}
 <a href="{{ absolute_url(asset('') ) }}app_dev.php/create" class="btn btn-danger ">Create</a>
<h3> View Posts </h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
       <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
  <tr class="table-success">

      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
        <td>{{post.category}}</td>
      <td>
      <a href="{{ absolute_url(asset('') ) }}app_dev.php/view/{{post.id}}" class="btn btn-primary btn-xs">View</a>
      <a href="{{ absolute_url(asset('') ) }}app_dev.php/edit/{{post.id}}" class="btn btn-primary btn-xs">Edit</a>
      <a href="{{ absolute_url(asset('') ) }}app_dev.php/delete/{{post.id}}" class="btn btn-danger btn-xs">Delete</a>
      </td>
    </tr>
  {% else %}
  <tr>  <td>No Records  </td>
  </tr>
  {% endfor %}
   
  </tbody>
</table> 
{{include('pages/inc/footer.html.twig')}}