
{{include('pages/inc/header.html.twig')}}

 <h1>View Post</h1>

<div class="list-group">
<a href="#" class="list-group-item active">POST</a>
<p class="list-group-item">{{post.title}}</p>
<p class="list-group-item">{{post.description}}</p>
<p class="list-group-item">{{post.category}}</p>
 <p class="list-group-item"><a href="{{ absolute_url(asset('') ) }}app_dev.php/post" class="btn btn-danger ">Back</a></p>
 </div>

 {{include('pages/inc/footer.html.twig')}}